@page "/"
@using CarRental.Business.Classes;
@using CarRental.Common.Classes;
@using CarRental.Common.Enums;
@using CarRental.Common.Interfaces;
@using CarRental.Data.Classes;
@inject BookingProcessor bp;
@inject Inputs input;
<PageTitle>Car Rental Assignment</PageTitle>

<h1>Car Rental Assignment</h1>

<div class="btn-group" role="group" aria-label="Basic outlined example">
	<button type="button" class="btn btn-outline-success" @onclick="(() =>input.filteredStatuses=VehicleStatuses.Available)">Available</button>
	<button type="button" class="btn btn-outline-primary" @onclick="(() =>input.filteredStatuses=default)">All</button>
	<button type="button" class="btn btn-outline-danger" @onclick="(()=>input.filteredStatuses=VehicleStatuses.Booked)">Booked</button>
</div>
@if (bp.exceptionMessage.Length > 0)
{
	<p>
		<div class="w25 alert alert-danger" role="alert">
			Something went wrong: @bp.exceptionMessage
		</div>
	</p>
}
@if(input.ErrorMessage.Length > 0)
{
<p><div class="w25 alert alert-danger" role="alert">
  @input.ErrorMessage</div></p>
}
<br />
<p>Vehicles</p>
<div class="container border border-dark border-1 row w100">
	<table class="table w100">
		<thead>
			<tr>
				<th class="w13">RegNo</th>
				<th class="w13">Make</th>
				<th class="w13">Odometer</th>
				<th class="w13">$/Km</th>
				<th>Vehicle Type</th>
				<th>$/Day</th>
				<th>Action</th>
				<th></th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="w13"><input class="w50 form-control hinputpx" disabled=@bp.IsProcessing placeholder="RegNo" @bind="input.RegNo" /></td>
				<td class="w13"><input class="w50 form-control hinputpx" disabled=@bp.IsProcessing placeholder="Make" @bind="input.Make" /></td>
				<td class="w18"><input class="w50 input-min125 form-control hinputpx" disabled=@bp.IsProcessing placeholder="Odometer" type="number" @bind="input.Odometer" /></td>
				<td class="w13"><input class="w50 form-control hinputpx" disabled=@bp.IsProcessing placeholder="$/Km" type="number" @bind="input.CostKm" /></td>
				<td class="w50">
					<select class="form-control hinputpx input-min125 inputpadding align-middle" disabled=@bp.IsProcessing @bind="input.VehicleType">
					<option value="" disabled selected hidden>Choose type</option>
					@foreach(var vt in Enum.GetNames(typeof(VehicleTypes))){<option value="@vt">@vt</option>}
				</select>
				</td>
				<td class="w100"><input class="w100 input-min100 form-control hinputpx" disabled=@bp.IsProcessing placeholder="$/Day" type="number" @bind="input.CostDay" /></td>
				<td class="align-middle"><button type="button" class="btn btn-sm btn-outline-primary" disabled=@bp.IsProcessing @onclick="(()=>bp.AddVehicle(input, default))">Add</button></td>
				<td class="align-middle"></td>
				@if (bp.IsProcessing)
				{
					<td class="align-middle"><span class="badge bg-warning">Processing</span></td>
				}
			</tr>
			@foreach (var v in bp.GetVehicles(input.filteredStatuses)) 
			{
				<tr class="text text:hover">
					@*<td>@v.Id</td>*@
					<td>@v.RegNr</td>
					<td>@v.Maker</td>
					<td>@v.Odometer</td>
					<td>@v.CostKm</td>
					<td>@v.GetVehicleTypes()</td>
					<td>$@v.CostDay</td>
					@if (v.VehicleStatuses == VehicleStatuses.Available)
					{
					<td class="align-middle">
							<select class="form-control hinputpx input-min150 inputpadding align-middle" disabled=@bp.IsProcessing @bind="v.TempCustomerId">
							<option value="Test" disabled selected hidden></option>
							@foreach (var customer in bp.GetCustomers())
							{
									<option value="@customer.Id">@customer.FirstName @customer.LastName</option>
							}
						</select>
					</td>
						@if (v.TempCustomerId != null)
						{
							<td><button type="button" class="btn btn-sm btn-outline-primary" @onclick="@( async () => { await bp.RentVehicleASYNC((int)v.Id, (int)v.TempCustomerId); input.Distance = null; } )" disabled=@bp.IsProcessing>Rent</button></td>
						}
						else
						{<td><button type="button" class="btn btn-sm btn-outline-primary" disabled>Rent</button></td>}
					}
					else
					{
						<td><input class="form-control hinputpx input-min125 inputpadding align-middle" placeholder="Distance" type="number" disabled=@bp.IsProcessing inputmode="numeric" size="15" @bind="input.Distance" /></td>
						<td class="align-middle"><button size="15" type="button" disabled=@bp.IsProcessing class="btn btn-sm btn-outline-primary" @onclick="(()=>{bp.ReturnVehicle((int)v.Id,input.Distance ?? 0); input.Distance = null;})">Return</button></td>
					}
					<td class="align-middle"><span class="badge bg-@((v.VehicleStatuses == VehicleStatuses.Available) ? "primary" : "danger")">@v.VehicleStatuses</span></td>
			</tr>
			}
		</tbody>
	</table>
</div>
<br />
<p>Bookings</p>
<div class="container border border-dark border-1 row">
	<table class="table">
		<thead>
			<tr>
				<th>RegNo</th>
				<th>Customer</th>
				<th>KM when rented</th>
				<th>KM when returned</th>
				<th>Rented date</th>
				<th>Returned date</th>
				<th>Cost</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in bp.GetBookings())
			{
				<tr class="text text:hover">
					
					<td>@booking.Id</td>
					<td>@booking.RegNr</td>
					<td>@booking.Customer.FirstName @booking.Customer.LastName (@booking.Customer.Ssn)</td>
					<td>@booking.OdometerRent</td>
					<td>@booking.OdometerReturn</td>
					<td>@booking.DateRented.ToShortDateString()</td>
					<td>@booking.DateReturned?.ToShortDateString()</td>
					<td>@booking.GetCost()</td>
					<td><span class="badge bg-@((booking.VehicleStatus == VehicleStatuses.Booked) ? "danger" : "success")">@((booking.VehicleStatus == VehicleStatuses.Booked) ? "Open" : "Closed")</span></td>
				</tr>
			}
		</tbody>
	</table>
</div>

<br />
<p>Customers</p>
<div class="container container-small border-dark border-1 border row">
	<table class="table">
		<thead>
			<tr>
				<th>SSN</th>
				<th>Last Name</th>
				<th>First Name</th>
			</tr>
			<tr>
				<td><input placeholder="SSN" type="number" @bind="input.Ssn" /></td>
				<td><input placeholder="First name" @bind="input.FirstName" /></td>
				<td><input class="w75" placeholder="Last name" @bind="input.LastName"/><span><button button type="button" class="btn btn-primary btn-sm" @onclick="(()=>bp.AddCustomer(input, default))">+</button></span></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in bp.GetCustomers())
			{
				<tr class="text text:hover">
					@*<td>@customer.Id</td>*@
					<td>@customer.Ssn</td>
					<td>@customer.LastName</td>
					<td>@customer.FirstName</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@code 
{
	// Lägg till tempperson id i motorcycle/car och binda den i customer
}