@page "/"
@using CarRental.Business.Classes;
@using CarRental.Common.Classes;
@using CarRental.Common.Enums;
@inject BookingProcessor bp;
<PageTitle>Car Rental Assignment</PageTitle>

<h1>Car Rental Assignment</h1>


<p>Vehicles</p>
<div class="container border border-dark border-1 row">
	<table class="table">
		<thead>
			<tr>
				<th>RegNo</th>
				<th>Make</th>
				<th>Odometer</th>
				<th>Cost/Km</th>
				<th>Vehicle Type</th>
				<th>$/Day</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var v in bp.GetVehicles())
			{

				<tr class="text text:hover">
					<td>@v.regNr</td>
					<td>@v.maker</td>
					<td>@v.odometer</td>
					<td>@v.costKm</td>
					<td>@v.vehicleTypes</td>
					<td>@v.costDay</td>
					<td><span class="badge rounded-pill @PillerFargCar(v.vehicleStatuses)">@v.vehicleStatuses</span></td>
				</tr>
			}
		</tbody>
	</table>
</div>
<br />
<p>Bookings</p>
<div class="container border border-dark border-1 row">
	<table class="table">
		<thead>
			<tr>
				<th>RegNo</th>
				<th>Customer</th>
				<th>KM when rented</th>
				<th>KM when returned</th>
				<th>Rented date</th>
				<th>Returned date</th>
				<th>Cost</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in bp.GetBookings())
			{
				<tr class="text text:hover">
					<td>@booking.regNr</td>
					<td>@booking.ssn</td>
					<td>@booking.odometerRent</td>
					<td>@booking.odometerReturn</td>
					<td>@booking.dateRented.ToShortDateString()</td>
					<td>@booking.dateReturned?.ToShortDateString()</td>
					<td>@booking.cost</td>
					<td><span class="badge @PillerFargBooking(booking.rentedStatus)">@booking.rentedStatus</span></td>
				</tr>
			}
		</tbody>
	</table>
</div>

<br />
<p>Customers</p>
<div class="container container-small border-dark border-1 border row">
	<table class="table">
		<thead>
			<tr>
				<th>SSN</th>
				<th>Last Name</th>
				<th>First Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in bp.GetCustomers())
			{
				<tr class="text text:hover">
					<td>@customer.ssn</td>
					<td>@customer.lastName</td>
					<td>@customer.firstName</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@code {

	string PillerFargCar(VehicleStatuses pillerFärg) // Testmetod för att ändra färgen på HTML'en (piller)
	{
		string pillerFärg2 = string.Empty;
		switch (pillerFärg)
		{
			case VehicleStatuses.Available:
				return pillerFärg2 = "bg-primary";

			case VehicleStatuses.Booked:
				return pillerFärg2 = "bg-danger";

			default:
				return string.Empty;
		}

	}
	string PillerFargBooking(BookingStatuses pillerFärg) // Testmetod för att ändra färgen på HTML'en (piller)
	{
		string pillerFärg2 = string.Empty;
		switch (pillerFärg)
		{
			case BookingStatuses.Open:
				return pillerFärg2 = "bg-danger";

			case BookingStatuses.Closed:
				return pillerFärg2 = "bg-success";

			default:
				return string.Empty;
		}

	}

	protected override async Task OnInitializedAsync()
	{
	}
}